img {
    width: 400px;
    height: auto;
   display: block;
   margin-left: auto;
   margin-right: auto;
    
}

h1 {
    color: rgb(219, 73, 98);
}

p {
    text-align: justify;
}


.desc {
    color: #806c14;
  }
  
  
  .ing {
    color: #8f1950;
  }
  
  .steps {
    color: #479125;
  }

  ol {
    list-style-type: decimal;
    margin-left: 20px;
  }

  ul {
    margin-left: 20px;
  }
  